.background{
  background: black;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}